/* 
Colors
*/
$black: #000;
$white: #fff;
$grey: #babec7;
$grey-light: #ebeef4;
$border-block: #f3f3f3;
$main: #ffb800;
$main-select: #ffcb28;
$main-hover: #ffcb28;

/* 
Base
*/

* {
  outline: none;
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  scrollbar-color: #000 rgba(255, 255, 255, 0.2);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  visibility: hidden;
  display: none;
}
::-webkit-scrollbar-thumb {
  transition: all 0.3s ease;
  background: rgb(0, 0, 0);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
  &:hover {
    background: $main-hover;
  }
}
::-webkit-scrollbar-thumb:window-inactive {
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.4);
}

html {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
  height: 100%;
}
body {
  font-family: "Roboto";
  background: $white;
  position: relative;
  line-height: 20px;
  color: $black;
  font-weight: 500;
  min-width: 320px;
  font-size: 15px;
}
pre {
  margin-top: 0;
  margin-bottom: 1em;
  overflow-x: hidden;
  max-height: 300px;
  word-break: break-all;
  width: 100%;
  max-width: 100%;
}
b,
strong {
  font-weight: 700;
}
u {
  &:hover {
    text-decoration: none;
  }
}
a,
img,
input,
textarea,
.button {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
p {
  padding: 10px 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1;
  margin: 0;
  letter-spacing: -0.01em;
}
h1 {
  letter-spacing: normal;
  line-height: 40px;
  font-size: 36px;
  margin: 0;
}
h2 {
  line-height: 30px;
  font-size: 30px;
}
h3 {
  line-height: 18px;
  font-size: 18px;
}
h4 {
  line-height: 15px;
  font-size: 15px;
}
a,
a:visited {
  transition: all 0.3s ease-in;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: $black;
}
a:hover {
  color: $main-hover;
}
a:focus {
  outline: none;
}
span {
  display: inline-block;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  padding: 0 0 10px;
  cursor: pointer;
  display: block;
}
input,
textarea {
  transition: border 0.3s, box-shadow 0.3s;
  background-position: 12px 50%;
  background-repeat: no-repeat;
  border: 1px solid $grey-light;
  background-color: $white;
  font-family: "Roboto";
  letter-spacing: 0.2px;
  border-radius: 8px;
  line-height: 38px;
  color: $black;
  font-weight: 400;
  padding: 0 20px;
  font-size: 15px;
  height: 40px;
  width: 100%;
  &:hover {
    border-color: $black;
  }
  &:focus {
    box-shadow: 0px 0px 0px 2px rgba(255, 184, 0, 0.1);
    border: 1px solid $main-select;
  }
  &::placeholder {
    color: $grey;
    opacity: 1;
  }
}

textarea {
  padding: 10px 20px;
  min-height: 130px;
  resize: resize;
}

:focus,
:active {
  outline: 0;
}
::-moz-selection {
  background: $main-select;
  text-shadow: none;
  color: $white;
}
::selection {
  background: $main-select;
  text-shadow: none;
  color: $white;
}
//  --------------------------------------------------------
.container {
  position: relative;
  padding: 50px 0;
}
.container-inner {
  position: relative;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
