.btn {
  border-radius: 8px;
  border: 1px solid $white;
  text-align: center;
  background: $black;
  padding: 20px;
  cursor: pointer;
  color: $white;
  &:hover {
    border: 1px solid $black;
    background: $main;
    color: $black;
  }
}
