.product-list {
  margin: 0 -10px;
  display: flex;
  width: 100%;
  .card {
    padding: 10px;
    width: 25%;
    .card-body {
      border-radius: 8px;
      justify-content: space-between;
      flex-direction: column;
      border: 1px solid $border-block;
      display: flex;
      height: 100%;
      padding: 20px;
      &:hover {
        box-shadow: 0px 10px 13px -7px $black, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      }
      .image {
        cursor: pointer;
        img {
          object-fit: cover;
          width: 100%;
        }
      }
      h3 {
        line-height: 1.4;
        text-align: center;
      }
      .info {
        justify-content: space-between;
        padding: 20px 0;
        display: flex;
      }
    }
  }
}

.product-single {
  align-items: center;
  display: flex;
  .image {
    padding: 20px;
    width: 50%;
    img {
      width: 100%;
    }
  }
  .desc {
    padding: 20px;
    width: 50%;
    h2 {
      padding: 0 0 20px;
    }
    .info {
      padding: 20px 0;
      justify-content: space-between;
      display: flex;
    }
    .btn {
      margin: 0 auto;
      width: 50%;
    }
  }
}
