.settings {
  .add-product {
    background: #14ac00;
    width: 200px;
  }
  .item-list {
    justify-content: space-between;
    border-bottom: 1px solid $border-block;
    align-items: center;
    padding: 10px 0;
    display: flex;
    .btns {
      display: flex;
      .btn {
        padding: 10px;
        width: 120px;
        &.delete {
          background: rgb(218, 0, 0);
        }
      }
    }
  }
}
