.header {
  background: $black;
  height: 100px;
  .container-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    color: $main;
    font-size: 30px;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 3px;
  }
  .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    li a {
      text-decoration: none;
      border-radius: 8px;
      background: $main;
      cursor: pointer;
      padding: 10px 20px;
      color: $black;
      margin: 0 10px;
      &.active,
      &:active {
        background: $main-select;
      }
      &:hover {
        background: $main-hover;
      }
    }
  }
  .cart {
    background: url("../../../images/icons/cart.svg") no-repeat 100% 50%;
    padding-right: 40px;
    font-size: 24px;
    color: $main;
    &:hover {
      color: $main-hover;
    }
  }
}
